!!! 5
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:name => "keywords", :content => ""}/
    %meta{:name => "description", :content => ""}/
    %link{:rel => "stylesheet", :href => "http://fonts.googleapis.com/css?family=Montserrat", :type => "text/css"}/
    %link{:rel => "stylesheet", :href => "style.css", :type => "text/css"}/
    %link{:rel => "shortcut icon", :type => "image/x-icon", :href => "images/favicon.ico"}/
    %link{:rel => "shortcut icon", :type => "image/png", :href => "images/favicon.png"}/
    %script{:language => "javascript", :type => "text/javascript", :src => "require.js", "data-main" => "priority"}
    %title Priority / Ignore

  %body
    #grid.container
      .flow
        .row-fluid
          #leftbrain.span6
            %h1#prioritize(data-pos="N" data-ty="priority") Today I Will Pay Attention To:
            #priorities
          #rightbrain.span6
            %h1#ignorize(data-pos="N" data-ty="ignore") Today I Will Ignore:
            #ignorities

    #message(style="display:none")
      %h2 How to Use
      %p

        <b>Priority / Ignore</b> is a simple project reminder. It is
        not a to-do list or project manager.  It's just a
        <i>reminder</i>.  After <a
        href="https://github.com/elfsternberg/rightnow">downloading
        and installing <b>Priority / Ignore!</b> locally</a>, set the
        index.html file as your home page, open a new tab and click on
        either header.

      %p

        The idea is simple: every time you open your browser or click
        "New Tab," you'll get the <b>Priority / Ignore</b> page.
        Every day we should remind ourselves not only of what must be
        done, but what we must put aside as trivial and distracting.  
        
      %p 
        All the data is stored locally using the browser's own local
        storage mechanism.  There is no server, and no data is ever
        sent anywhere.  Everything on your screen is yours, kept as
        secure as you keep your physical hardware.

      %p 
        This message will disappear as soon as you've created your
        first entry.  You can also <button id="preclose">Close it
        now.</button>  
 