!!! 5
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:name => "keywords", :content => ""}/
    %meta{:name => "description", :content => ""}/
    %link{:rel => "stylesheet", :href => "http://fonts.googleapis.com/css?family=Montserrat", :type => "text/css"}/
    %link{:rel => "stylesheet", :href => "style.css", :type => "text/css"}/
    %link{:rel => "shortcut icon", :type => "image/x-icon", :href => "images/favicon.ico"}/
    %link{:rel => "shortcut icon", :type => "image/png", :href => "images/favicon.png"}/
    %script{:language => "javascript", :type => "text/javascript", :src => "require.js", "data-main" => "priority"}
    %title Priority / Ignore

  %body
    #gear
      #gearbutton
        %img(src="gear.png")

    #grid.container
      .flow
        .row-fluid
          #leftbrain.span6
            %h1#prioritize(data-pos="N" data-ty="priority") Today I Will Pay Attention To:
            #priorities
          #rightbrain.span6
            %h1#ignorize(data-pos="N" data-ty="ignore") Today I Will Ignore:
            #ignorities

    #message.modal.hide.fade
      .modal-header
        %button.close(data-dismiss="modal" type="button") ×
        %h3 Prioritize / Ignore
        %p
          According to the Harvard School of Business, there are <a
          href="http://blogs.hbr.org/bregman/2009/05/two-lists-you-should-look-at-e.html">two
          lists</a> you should look at every morning, and perhaps
          every chance you get: the list of things that are important
          to you, and the list of things that you should ignore.  

        %p 
          Prioritize / Ignore is an extension of that idea: a
          reminder, each and every time you open your browser, of what
          is important, and what is not.  

        %p 
          To use: Just click on either header.  A new entry will open
          up in that list for you to fill out.  Empty entries will be
          deleted automatically.  <b>All data is stored in your 
          browser's local store; there are no servers, and your data
          is never transmitted anywhere.</b>

        %p
          You can click on the gear icon in the lower
          left-hand corner any time you like to review this page.
      .model-body
      .model-footer
        %a.btn(href="#" data-dismiss="modal") Close
